/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.prepl-port
.DS_Store
**/.DS_Store
/public/js
/node_modules
/target
/yarn.lock
/package-lock.json
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea
/public/css/kushi.css
/.calva
/tmp
.hgignore
.hg/
.lsp
.clj-kondo/.cache
.clj-kondo/imports
.calva
.vscode
.idea
